header.header
  nav.header__nav
    ul.header__list
      li.header__item
        a.header__link.header__link-phone.link-phone(href='tel: 842572332') 842572332
      li.header__item.header__item--block-s
        a.header__link.header__link--dashed Липецк
        i.fas.fa-chevron-down.header__arrow-down
      li.header__item.header__item--block-s
        a.header__link.header__link--dashed Арсенал
        i.fas.fa-chevron-down.header__arrow-down
      li.header__item
        a.header__link Акции
      li.header__item
        a.header__link Информация
      li.header__item
        a.header__link Магазин.Бизнес
      li.header__item
        a.header__link Доставка
      li.header__item
        a.header__link Адреса магазинов
      li.header__item
        a.header__link Обратная связь