aside.sidebar
  nav.sidebar__nav
    ul.sidebar__list
      +sidebar('fa-laptop sidebar__icon sidebar__laptors', 'Ноутбуки')
      +sidebar('fa-mobile-alt sidebar__icon sidebar__phone', 'Смартфоны и гаджеты')
      +sidebar('fa-brain brain sidebar__icon sidebar__processors', 'Процессоры')
      +sidebar('fa-memory sidebar__icon sidebar__ram', 'Оперативная память')
      +sidebar('fa-gamepad sidebar__icon sidebar__videocards', 'Видеокарты')
      +sidebar('fa-microchip sidebar__icon sidebar__ssd', 'SSD')
      +sidebar('fa-hdd sidebar__hdd sidebar__icon sidebar__hdd', 'HDD')
      +sidebar('fa-desktop sidebar__icon sidebar__monitors', 'Мониторы')