extends ../layout/main.pug

block content
  .page
    include ../includes/modules/sidebar.pug
    .wrap
      include ../includes/modules/header.pug
      main.main
        include ../includes/modules/search.pug
        section.section.section-products
          .section-products--inner